// 全局对话框样式
.el-dialog {
  padding: 20px !important;
  border-radius: 4px !important;
}
.el-dialog__title {
  font-size: 18px !important;
  color: #000 !important;
  line-height: 22px !important;
  font-weight: bold;
}
.el-dialog__header {
  padding-bottom: 14px !important;
  border-bottom: 1px solid #f0f2f5 !important;
}
.el-dialog__body {
  padding-top: 15px;
}

// 自定义表单样式 用这个类名生效
.form-container {
  .el-form-item {
    width: 100%;
  }
  // 按钮组相关
  .el-button-group {
    display: flex !important;
    width: 100%;
    background-color: #fff;
  }
  .el-button-group .el-button {
    border: none;
    color: #909090 !important;
    background-color: #eef0f3 !important;
  }
  // 下拉选择相关
  .el-select__placeholder.is-transparent {
    color: #2b3a57;
  }
  .el-select__wrapper {
    background-color: #eef0f3;
    box-shadow: none;
  }
  .el-select__placeholder {
    color: #000;
    font-size: 14px;
  }

  .el-select__icon {
    font-size: 16px;
    font-weight: bold;
    color: #858688;
  }
  // input 相关
  .el-input__wrapper {
    background-color: #eef0f3;
    border: none;
    box-shadow: none;
    color: #000;
    font-size: 14px;
  }
  .el-input__inner {
    color: #000;
    font-size: 14px;
  }
  .el-input__inner::placeholder {
    color: #2b3a57;
  }
  .el-input-group__append {
    background-color: #eef0f3;
    border: none;
    box-shadow: none;
  }
  .el-input-group__prepend {
    background-color: #eef0f3;
    border: none;
    box-shadow: none;
    padding: 0 0px 0 20px;
  }
  // 时间相关
  .el-date-editor.el-input__wrapper {
    box-shadow: none;
  }
  .el-range-input::placeholder {
    color: #2b3a57;
  }
}

// select 禁用样式
.none-disabled-select {
  .el-select__wrapper.is-disabled {
    background-color: #eef0f3 !important;
    cursor: pointer;
  }
  .el-select__wrapper.is-disabled .el-select__selected-item {
    color: #000 !important;
  }
  .el-select__wrapper.is-disabled,
  .el-select__wrapper.is-disabled:hover {
    box-shadow: none;
  }
}
