@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #52c41a,
    ),
    "success": (
      "base": #52c41a,
    ),
    "warning": (
      "base": #faad14,
    ),
    "danger": (
      "base": #f76560,
    ),
    "info": (
      "base": #a9aeb8,
    ),
    "error": (
      "base": #ff4d4f,
    ),
  ),

  $bg-color: (
    "page": #f5f8fd,
  )
);

/** 全局SCSS变量 */

:root {
  --el-color-primary: #52c41a;

  --sidebar-logo-background: #2d3748;
}
